<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    
    <nav>
      <ul>
        {{#if loggedIn}}

          <p>Welcome {{loggedIn}}</p>
          <li><a href="/main">Check this bad boy!</a></li>
          <li><a href="/private">Super private stuff here</a></li>
          <form action="/logout" method="POST">
          <button type="submit">Logout</button>
          </form>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign up</a></li>

        {{/if}}
      </ul>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>